<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:label="@string/app_name_dev"
            android:name="pl.edu.radomski.architecturesample.ux.dev.DevPlaygroundActivity"
            android:taskAffinity="pl.edu.radomski.architecturesample.ux.dev.DevPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>